/[Ll]ibrary/
/Builds/
/commence/
Builds/*
/Commence-Build/
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/EditorUserBuildSettings.asset
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/SourceAssetDB
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Photon.csprojAssemblyReference.cache
obj/Debug/PhotonChat.csprojAssemblyReference.cache
obj/Debug/PhotonRealtime.csprojAssemblyReference.cache
obj/Debug/PhotonUnityNetworking.Editor.csprojAssemblyReference.cache
obj/Debug/PhotonUnityNetworking.Utilities.csprojAssemblyReference.cache
obj/Debug/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csprojAssemblyReference.cache
obj/Debug/PunDemos.DemoHubEditor.csprojAssemblyReference.cache
obj/Debug/Tests.csprojAssemblyReference.cache
Photon.csproj
PhotonChat.csproj
PhotonRealtime.csproj
PhotonUnityNetworking.csproj
PhotonUnityNetworking.Demos.csproj
PhotonUnityNetworking.Editor.csproj
PhotonUnityNetworking.Utilities.csproj
PhotonUnityNetworking.Utilities.Culling.Editor.csproj
PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
PhotonWebSocket.csproj
PunDemos.DemoHubEditor.csproj
PunDemos.DemoSlotcarEditor.csproj
Tests.csproj
