#Library/*
#C:\Users\Logan Sisel\Documents\GitHub\VR-Commencement\Assets\Tests\Tests.asmdef
C:\Users\Logan Sisel\Documents\GitHub\VR-Commencement\Library\*
Library/Artifacts/1a/1af09dbc1b496e784f3bb0ee6c2e487f
Library/Artifacts/1d/1daa5d1ba11eca4bebb435e990ef9d09
Library/Artifacts/2d/2d64dcbb92630097682a6df2e9257dfe
Library/Artifacts/2e/2e146d8fa33f72d6ab450d70a008b5c6
